body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffbd2;
  }
  
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  
  #bulkAddButton,
  #downloadExcelButton {
    padding: 10px 20px;
    margin: 10px;
    background-color: #9BCF53;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #bulkAddButton:hover,
  #downloadExcelButton:hover {
    background-color: #82B536;
  }
  
 
  #userInfo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* //////////// */
  /* Post card styles */
#userPosts > div {
    background-color: #FFF67E;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  /* Post info styles */
  #userPosts > div > strong {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  